        .iconLogo {
            width: 200px;
            position: relative;
            top: -16px;
        }

        .iconMenu {
            height: 25px;
            position: relative;
            top: -1px;
        }

        .menuElement a {
            text-align: center;
            transition: 0.3s ease;
            background: currentColor;
            color: white;
            margin: 0px;
            background-color: black;
            font-size: 20px;
            padding: 12px 50px !important;
            display: inline-block;
            text-decoration: none;
            transform: scaleX(1);
            -webkit-transition: color 500ms, padding 500ms;
        }

        .menuElement a:after {
            display: block;
            content: '';
            border-bottom: solid 2px orange;
            transform: scaleX(0);
            transition: transform 500ms ease-in-out;
        }

        .menuElement a:hover:after {
            transform: scaleX(1);
        }

        .menuElement a:hover {
            color: orange !important; 
            padding: 12px 70px !important;
        }